.main{
    .form{
        background-color: rgb(236, 236, 236);
        padding: 20px;
        // margin: 10px 0;
        label{
            margin-bottom: 4px;
            margin-left: 2px;
        }
        .form-item {
            padding: 10px !important; 
            font-size: large;
            width: 100%;
            margin-bottom: 20px;
            border-radius: 10px;
            border-style: none;
        }
        .btn {
            font-size: large;
            background-color: green;
            color: white;
            font-weight: bold;
            border-radius: 10px;
            width: 100%;
            margin-bottom: 20px;
            height: 50px;
            border-style: none;
        }
    }
}

/* Medias Querys */
@media(min-width: 768px) {
    .main{
        .form {
            margin: 10px 10vw;
        }
    }
}